@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.main {
    position: relative;
    color: #1E90FF; 
    background-color: #050505;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column; /* Apila el contenido (texto y foto) */
    align-items: center;
    justify-content: flex-start; /* Asegura que el contenido se alinee desde arriba */
    top: 10%;
    left: 10%;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
}

p.text {
    margin: 2.5%;
    max-height: none; /* Asegura que el texto no desborde el contenedor */
    overflow-y: visible; /* Permite desplazamiento dentro del texto */
}

img.img {
    margin-bottom: 2%; /* Añade un espacio antes de la imagen */
    border-radius: 15px;
    box-shadow: 0 8px 20px #1E90FF; /* Mayor sombra para la imagen */
    transition: opacity 0.3s, transform 0.3s;
    opacity: 1;
    transform: translateY(0);
}

img {
    margin-left:50px;
}
.boton-final {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    width: 100%;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15); /* Sombra en el botón */
    width: 25%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 300%;
    left: 20%;
}
.boton-inicio {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    width: 100%;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15); /* Sombra en el botón */
    width: 25%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 300%;
    left: 50%;
}
/* Efecto al pasar el mouse sobre el botón */
.boton-final:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05); /* Efecto hover para el botón */
}

.botones {
    display: flex;
}
:root {
    --primary-color: #1E90FF; /* Naranja similar al logo de Pornhub */
    --secondary-color: #1E90FF; /* Naranja más claro para el hover */
    --text-color: #f5f5f5; /* Color del texto en blanco */
    --background-color: #000000; /* Fondo negro */
    --border-radius: 15px;
    --transition-speed: 0.3s;
}